<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>IIT Bombay Hospital</display-name>
    <context-param>
        <param-name>dbserver</param-name>
        <param-value>127.0.0.1</param-value>
    </context-param>
    <context-param>
        <param-name>dbuser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbname</param-name>
        <param-value>mydb</param-value>
    </context-param>
    <context-param>
        <param-name>dbpass</param-name>
        <param-value>root</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/404.html</location>
    </error-page>
    <env-entry>
        <env-entry-name>dbname</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>mydb</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>dbserver</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>localhost</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>dbuser</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>root</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>dbpass</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>root</env-entry-value>
    </env-entry>
</web-app>
